# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.venv
venv/
ENV/
env/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
